$lightGrey: #f8fafc;
$darkGrey: #111827;
$mediumGrey: #9ca3af;
$indigo: #312e81;


h1 {
    color: $lightGrey;
}

.container {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar body";



    .sidebar {
        grid-area: sidebar;
        background-color: $darkGrey;
        color: $lightGrey;
        padding: 5px;
    }

    .card-body {
        grid-area: body;
        background-color: $mediumGrey;
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(125px, 10rem));
        grid-template-columns: repeat(auto-fit, minmax(350px, 10rem));
    }

    .new-card {
        background-color: $lightGrey;
        width: 20rem;
        display: grid;
        margin: 10px;
        padding: 5px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 3fr 1fr;
        grid-template-areas: 
        "title title title"
        "author author author"
        "pc pc pc"
        "read read read"
        "liked liked liked"
        "button1 button2 delete";
        column-gap: 20px;
        box-shadow: 2px 2px 5px $indigo;
        border: 1px solid $indigo;
        border-radius: 5px;

        .card-title {
            grid-area: title;
        }
        .card-author {
            grid-area: author;
        }
        .card-pagecount {
            grid-area: pc;
        }
        .card-read {
            grid-area: read;
        }
        .card-liked {
            grid-area: liked;
        }
        .toggle-read {
            grid-area: button1;
            align-self: center;
        } 
        .toggle-liked {
            grid-area: button2;
            align-self: center;
        }
        
        .delete {
            grid-area: delete;
            align-self: end;
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: $lightGrey;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

    .title {
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
    }
}

.modal-body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.book-form-style {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: 1fr / 1fr;
    grid-template-areas:
    "title title"
    "author author"
    "pagecount pagecount"
    "read readcheckbox"
    "liked likedcheckbox"
    "submit submit"

}

#submit {
    grid-area: submit;
    align-self: end;
    margin-top: 10px;
    padding: 5px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none; //when overlay is invisible, won't capture click events.
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}